<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lys.dao.UserDao" >

  <resultMap id="BaseResultMap" type="com.lys.entity.UserEntity" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="PERSON_NAME" property="personName" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_IP" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="LOGIN_COUNT" property="loginCount" jdbcType="DECIMAL" />
    <result column="LAST_CHANGE_PWD_TIME" property="lastChangePwdTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="USER_KBN" property="userKbn" jdbcType="VARCHAR" />
    <result column="LOCK_FLAG" property="lockFlag" jdbcType="CHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="CHAR" />
    <result column="IMAGE" property="image" jdbcType="VARCHAR" />
    <result column="REGION" property="region" jdbcType="VARCHAR" />
    <result column="WEIXIN" property="weixin" jdbcType="VARCHAR" />
    <result column="WEIBO" property="weibo" jdbcType="VARCHAR" />
    <result column="TOKEN" property="token" jdbcType="VARCHAR" />
    <result column="WORKPLACE" property="workplace" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    USER_ID, USER_NAME, PASSWORD, PERSON_NAME, EMAIL, MOBILE, PHONE, LAST_LOGIN_TIME, 
    LAST_LOGIN_IP, LOGIN_COUNT, LAST_CHANGE_PWD_TIME, STATUS, DEL_FLAG, CREATE_DATE, 
    CREATE_USER, UPDATE_DATE, UPDATE_USER, USER_KBN, LOCK_FLAG, REMARK, SEX, IMAGE, REGION, 
    WEIXIN, WEIBO, TOKEN, WORKPLACE, ADDRESS
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  
  <!-- 分页检索用户信息 -->
  <select id="selectUserPage" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select
  	<include refid="Base_Column_List"/>
  	from tb_user
  	
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lys.entity.UserEntity" >
    insert into tb_user (USER_ID, USER_NAME, PASSWORD, 
      PERSON_NAME, EMAIL, MOBILE, 
      PHONE, LAST_LOGIN_TIME, LAST_LOGIN_IP, 
      LOGIN_COUNT, LAST_CHANGE_PWD_TIME, STATUS, 
      DEL_FLAG, CREATE_DATE, CREATE_USER, 
      UPDATE_DATE, UPDATE_USER, USER_KBN, 
      LOCK_FLAG, REMARK, SEX, IMAGE, 
      REGION, WEIXIN, WEIBO, 
      TOKEN, WORKPLACE, ADDRESS
      )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{personName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR}, 
      #{loginCount,jdbcType=DECIMAL}, #{lastChangePwdTime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, 
      #{delFlag,jdbcType=CHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{userKbn,jdbcType=VARCHAR}, 
      #{lockFlag,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{image,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, #{weibo,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{workplace,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lys.entity.UserEntity" >
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="personName != null" >
        PERSON_NAME,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="lastLoginTime != null" >
        LAST_LOGIN_TIME,
      </if>
      <if test="lastLoginIp != null" >
        LAST_LOGIN_IP,
      </if>
      <if test="loginCount != null" >
        LOGIN_COUNT,
      </if>
      <if test="lastChangePwdTime != null" >
        LAST_CHANGE_PWD_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="userKbn != null" >
        USER_KBN,
      </if>
      <if test="lockFlag != null" >
        LOCK_FLAG,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="image != null" >
        IMAGE,
      </if>
      <if test="region != null" >
        REGION,
      </if>
      <if test="weixin != null" >
        WEIXIN,
      </if>
      <if test="weibo != null" >
        WEIBO,
      </if>
      <if test="token != null" >
        TOKEN,
      </if>
      <if test="workplace != null" >
        WORKPLACE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginCount != null" >
        #{loginCount,jdbcType=DECIMAL},
      </if>
      <if test="lastChangePwdTime != null" >
        #{lastChangePwdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="userKbn != null" >
        #{userKbn,jdbcType=VARCHAR},
      </if>
      <if test="lockFlag != null" >
        #{lockFlag,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null" >
        #{weibo,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null" >
        #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lys.entity.UserEntity" >
    update tb_user
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        PERSON_NAME = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null" >
        LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginCount != null" >
        LOGIN_COUNT = #{loginCount,jdbcType=DECIMAL},
      </if>
      <if test="lastChangePwdTime != null" >
        LAST_CHANGE_PWD_TIME = #{lastChangePwdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="userKbn != null" >
        USER_KBN = #{userKbn,jdbcType=VARCHAR},
      </if>
      <if test="lockFlag != null" >
        LOCK_FLAG = #{lockFlag,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="image != null" >
        IMAGE = #{image,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        REGION = #{region,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null" >
        WEIXIN = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="weibo != null" >
        WEIBO = #{weibo,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null" >
        WORKPLACE = #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lys.entity.UserEntity" >
    update tb_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      PERSON_NAME = #{personName,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR},
      LOGIN_COUNT = #{loginCount,jdbcType=DECIMAL},
      LAST_CHANGE_PWD_TIME = #{lastChangePwdTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=CHAR},
      DEL_FLAG = #{delFlag,jdbcType=CHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      USER_KBN = #{userKbn,jdbcType=VARCHAR},
      LOCK_FLAG = #{lockFlag,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=CHAR},
      IMAGE = #{image,jdbcType=VARCHAR},
      REGION = #{region,jdbcType=VARCHAR},
      WEIXIN = #{weixin,jdbcType=VARCHAR},
      WEIBO = #{weibo,jdbcType=VARCHAR},
      TOKEN = #{token,jdbcType=VARCHAR},
      WORKPLACE = #{workplace,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>